$width: 1280px
$height: 720px
main
  width: $width
  height: $height
  border: 1px solid red
  margin: auto
  .video-overlay
    width: $width
    height: $height
    z-index: 10000
    position: absolute
    top: 0

